<header>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  />
</header>

<nav
  class="navbar navbar-light"
  style="background-color: #e3f2fd; margin-bottom:20px"
>
  <h2>Products catalog</h2>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Apple</h5>
          <button class="btn btn-outline-primary" value="apple">
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Banana</h5>
          <button class="btn btn-outline-primary" value="banana">
            Add to cart
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Orange</h5>
          <button class="btn btn-outline-primary" value="orange">
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="EventBus.js"></script>
<script src="script.js"></script>
